<template name="fileUpload">
  <div class="row mtbox">
    <div class="col-md-8 col-md-offset-4 box0" style="
                                                      padding-top: 15px;
                                                      padding-bottom: 15px;
                                                      ">
      <div class="darkblue-panel pn">
        <div class="darkblue-header">
          <h5>DROPBOX STATICS</h5>
        </div>

        {{> upload}}
        {{> candidateOutput}}
        
        <p>April 17, 2014</p>
        {{>boxFooter}}
      </div><!-- /darkblue panel -->
    </div><!-- /col-md-4 -->
  </div><!-- /row mt -->
</template>

<template name="boxFooter">
  <footer>
    <div class="pull-left">
      <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
    </div>
    <div class="pull-right">
      <h5>60% Used</h5>
    </div>
  </footer>
</template>



<template name="upload">
  <h4 class="page-header">Upload a CSV</h4>

         {{#if currentUser}}
           {{#unless uploading}}
            <input type="file" name="uploadCSV">
            {{else}}
            <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
            {{/unless}}
         {{/if}}
</template>


<template name ="candidateOutput">
        {{#if currentUser}}
  <p>display values here, so far it looks like the upload is only accessible by logging in.
    <br>csv values are displaying here, not very elegant or versatile but it works for files that have the expression helpers
    <br> once user logs out, the values don't show and the upload template disappears.
    <br> how does it look?
  </p>
  {{#each candidate}}
   {{First_Name}} {{date}} {{product}} {{paymentType}}
   {{/each}}
         {{/if}}
</template>