<template name="manageMatches">
  <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Manage Matches</h2>

        <a class="btn-primary btn" href="/addMatch">Add Match</a>
        <button id="autoMatch" class="btn-primary btn">Auto-Match Candidates</button>
        <button id="exportMatches" class="btn-primary btn">Export Matches</button>
        <a class="btn-primary btn" href="/fileUpload">Import Matches</a>

      </div>

      <div class="container row" style="margin-top: 50px;">
        {{> tabular table=TabularTables.Matches class="table table-striped table-bordered table-condensed"}}
      </div>
    </div><!-- /darkblue panel -->
  </div><!-- /col-md-4 -->


</template>

<template name="addMatch">
 <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
  <div class="darkblue-header">
    <h2 class="page-header">Add a Match</h2>
  </div>
  {{> quickForm collection="Matches" id="insertMatchesForm" type="insert" style="padding: 45px;"}}
   </div>
  </div>
</template>

<template name="editMatchButton">
  <a class="btn-info btn" href="/editMatch/{{_id}}">Edit Details</a>
</template>

<template name="editMatch">
  <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Edit Match</h2>
      </div>
      {{> quickForm collection="Matches" doc=currentMatch id="updateMatchesForm" type="update" style="padding: 45px;"}}
    </div>
  </div>
</template>