<template name="manageCandidates">
  <div class="col-md-10" style="
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Manage Candidates</h2>

        <a class="btn-primary btn" href="/addCandidate">Add Candidate</a>
        <button id="autoMatch" class="btn-primary btn">Auto-Match Candidates</button>
        <button id="exportMatches" class="btn-primary btn">Export Matches</button>
        <a class="btn-primary btn" href="/fileUpload">Import Matches</a>

      </div>

      <div class="container row" style="margin-top: 50px;">
        {{> tabular table=TabularTables.Candidates class="table table-striped table-bordered table-condensed"}}
      </div>
    </div><!-- /darkblue panel -->
  </div><!-- /col-md-4 -->


</template>

<template name="addCandidate">
 <div class="col-md-8" style="
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
  <div class="darkblue-header">
    <h2 class="page-header">Add a Candidate</h2>
  </div>
  {{> quickForm collection="Candidates" id="insertCandidatesForm" type="insert" style="padding: 45px;"}}
   </div>
  </div>
</template>

<template name="editCandidateButton">
  <a class="btn-info btn" href="/editCandidate/{{_id}}">Edit Details</a>
</template>

<template name="editCandidate">
  <div class="col-md-8" style="
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Edit Candidate</h2>
      </div>
      {{> quickForm collection="Candidates" doc=currentCandidate id="updateCandidatesForm" type="update" style="padding: 45px;"}}
    </div>
  </div>
</template>