<template name="manageShifts">
  <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Manage Shifts</h2>
        <a class="btn-info btn" href="/addShift/{{currentSiteId}}">Add Shifts</a>
      </div>

      <div class="container row" style="margin-top: 50px;">
        {{> tabular table=TabularTables.Shifts selector=ShiftSelector class="table table-striped table-bordered table-condensed"}}
      </div>
    </div><!-- /darkblue panel -->
  </div><!-- /col-md-4 -->


</template>

<template name="addShift">
 <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
  <div class="darkblue-header">
    <h2 class="page-header">Add a Shift</h2>
  </div>
  {{> quickForm collection="Shifts" id="insertShiftsForm" type="insert" style="padding: 45px;"}}
   </div>
  </div>
</template>

<template name="editShiftButton">
  <a class="btn-info btn" href="/editShift/{{_id}}">Edit Details</a>
</template>

<template name="editShift">
  <div class="col-md-8" style="
                               padding-top: 15px;
                               padding-bottom: 15px;
                               ">
    <div class="" style="height: 550px;width: 1000px;padding-right: 25px;padding-left: 25px;">
      <div class="darkblue-header">
        <h2 class="page-header">Edit Shift</h2>
      </div>
      {{> quickForm collection="Shifts" doc=currentShift id="updateShiftsForm" type="update" style="padding: 45px;"}}
    </div>
  </div>
</template>